*.iml
*.class
target/
.project
.settings/
.classpath
.springBeans
.idea/
*Test.java
/jvm.applyLog
*dependency-reduced-pom.xml
*.applyLog.*
*.applyLog

.DS_Store

test_page
*localTest*
logs/
mvnw
mvnw.cmd
.mvn/*
